.categories {
	&__menu {
	}
	&__list {
		display: flex;
		column-gap: 30px;
	}
	&__item {
		font-weight: 700;
		cursor: pointer;
		padding-inline: 20px;
		display: inline-flex;
		align-items: center;
		color: black;
		background-color: #f9f9f9;
		border-radius: 30px;
		height: 46px;
		&:hover {
			background-color: #282828;
			color: var(--color-light);
		}
	}
	&-active {
		background-color: #282828;
		color: var(--color-light);
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 130px;
		margin-top: 100px;
	}
}
